html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

#girl {
    width: 100%;
    margin-bottom: 6rem;
}


nav {
    margin-top: 1rem;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Itim', cursive;
    margin: 1.7rem;
}


/* ---------------------------------------------------- intro ---------------------------------------------------- */
.intro {
    top: 7rem;
    width: 63%;
    position: absolute;
    font-family: 'Itim', cursive;
}

ul {
    list-style: none;
}

li h1 {
    color: #FF5722;
    font-size: 5.1rem;
    margin-bottom: 0;
}

.friends {
    color: white;
    font-size: 2rem;
}

.about-me {
    border-style: solid;
    border-color: #FF5722;
    border-radius: 2rem;
    width: 6rem;
    text-align: center;
    padding: 0.5rem;
    margin-top: 3rem;
}

.about-me:hover {
    background-color: red;
}

.about-me a {
    color: white;
    text-decoration: none;
}

/* ---------------------------------------------------- intro END ---------------------------------------------------- */

main {
    margin-left: 6rem;
    margin-right: 6rem;
}

/* ---------------------------------------------------- paragraph ABOUT ME ---------------------------------------------------- */
#p-about-me,
.images4,
.flyer {
    display: flex;
}

.images {
    width: 50%;
}

#pink {
    max-width: 100%;
}

.grey {
    max-width: 25%;
    position: absolute;
    left: 10.5rem;
    margin-top: 6rem;
}

.text {
    width: 50%;
    margin-left: 4rem;
    padding: 4rem;

}

.text h1 {
    color: #FF5722;
    font-family: 'Itim', cursive;
    margin-top: 0;
}

/* ---------------------------------------------------- paragraph PORTFOLIO ---------------------------------------------------- */
#portfolio {
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 100%
}

#portfolio p {
    text-align: center;
    margin-bottom: 0;
}

.text2 {
    max-width: 224px;
}

.images4 {
    max-width: 1098px;
}

.logos img {
    max-width: 350px;
}

.flyer img {
    width: 50%;
    margin-left: 2rem;
}

#pink2 {
    max-width: 103.5%;
    margin-bottom: 6rem;
}

/* ---------------------------------------------------- Flipper ---------------------------------------------------- */

.flip-container {
    perspective: 1000;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 350px;
    height: 350px;

    background-color: blueviolet;
    color: wheat;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front,
.back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: xx-large;
}

/* ---------------------------------------------------- Footer ---------------------------------------------------- */
footer {
    background-color: #f9e3c3;
    height: 16rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h1 {
    color: #FF5722;
    font-family: 'Itim', cursive;
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
}

.contact {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.icons-text {
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f-info {
    display: flex;
    flex-direction: column;
}

.material-icons {
    margin-right: 1rem;
    vertical-align: sub;
    padding: 0.8rem;
}

.polosa {
    background-color: #f342ab;
    display: flex;
    justify-content: center;
    color: white
}

/* ---------------------------------------------------- Back on top ---------------------------------------------------- */
.mbtn {
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: 2.25rem;
    color: #fff;
    background-color: #f791cb;
    border-color: #f791cb;
    width: 3.5rem;
    min-width: 3.5rem;
    height: 3.5rem;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .26);
}

.mbtn:hover {
    background-color: #e47ab6;
    border-color: #e47ab6;
    color: #f8f8f8;
}

.btn-position {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
}

.top {
    padding: 0;
    margin: 0;
}



@media (max-width: 1252px) {
    .text p {
        font-size: 1.5rem;
    }
}